[Unit]
Description=Custom DDNS Client for use with cloudflare

[Service]
WorkingDirectory=/usr/local/DynDNSCloudflare/src
ExecStart=ts-node index.ts

Restart=always
RestartSec=10

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=​ddns-cloudflare

[Install]
WantedBy=multi-user.target